/python-novaclient-2.6.1~bzr89.tar.gz
/python-novaclient-2012.1~e3.tar.gz
/python-novaclient-2012.1~e4.tar.gz
/python-novaclient-2012.1~rc1.tar.gz
/python-novaclient-2012.1.tar.gz
/python-novaclient-2012.2~f1.tar.gz
/python-novaclient-2.8.0.26.tar.gz
/python-novaclient-2.9.0.tar.gz
/python-novaclient-2.10.0.tar.gz
